- var horzSpinner = "<div class='lds-ellipsis'><div></div><div></div><div></div><div></div></div>"
- var circleSpinner = "<div class='lds-ring'><div></div><div></div><div></div><div></div></div>"
- var smallCircleSpinner = "<div class='spinner-box'><div class='circle-border'><div class='circle-core'></div></div></div>"
block component