button i {
  margin-right: 5px;
}

/* TODO empty list graphic for all lists in the electron app */

#download {
  padding: 30px;
}

#download hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

#download .content {
  display: flex;
  flex-direction: column;
}

#download .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#download .header .title h1 {
  display: flex;
  align-items: center;
}

#download .header .title i {
  margin-right: 5px;
  font-size: 28px;
}

#download .actions {
  display: flex;
  justify-content: space-evenly;
}

#download .actions .action {
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

#download .actions .action:hover {
  background-color: #eeeeee;
}

#download .actions .action i {
  margin-bottom: 6px;
  font-size: 30px;
}

#download .progress {
  display: flex;
  height: unset;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: column;
}

#download .progress button {
  margin-top: 7px;
  /* font-size: 18px; */
}

#download .progress .item {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

#download .progress .item i {
  margin-bottom: 6px;
}

#download .progress .item .item-bar {
  display: flex;
  width: 100%;
  padding-right: 20px;
  align-items: center;
}

#download .progress .item .item-bar .graphic {
  display: inline-flex;
  flex-grow: 1;
  height: 10px;
  margin-right: 10px;
}

#download .progress .item .item-bar .graphic .used-bar {
  background-color: #4caf50;
}

#download .progress .item .item-bar .graphic .free-bar {
  background-color: #e9ecef;
}

#download .progress .deadline {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 12px;
}

#download .progress .done, #download .progress .waiting {
  justify-content: center;
}

#download .progress .waiting h3 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
